.header { padding: 0; 
    &__nav {
        margin: auto;
        --size-padding: 5px;
        color: white;
        padding: var(--size-padding) 0 var(--size-padding) 0;
        background-color: #080808;
    }

    &__list {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row nowrap;
        list-style: none;
        gap: 10px;

        &-item {
            &--active {
                font-weight: bold;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: white;

        &:hover {
            text-decoration: none;
        }
    }

    &__banner {
        height: 10vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center -250px;
        &--is-day { background-image: url("../images/california_hotel_room_banner_day.jpg"); }
        &--is-night { background-image: url("../images/california_hotel_room_banner_night.jpg"); }
    }

}