.header { 
    grid-area: header;
    padding: 0;
    &__nav {
        margin: auto;
        --size-padding: 5px;
        padding: var(--size-padding) 0 var(--size-padding) 0;
        color: white;
        background-color: #080808;
    }

    &__list {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row nowrap;
        list-style: none;

        &-item {
            &--active {
                font-weight: bold;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: white;

        &:hover {
            text-decoration: none;
        }
    }

    &__banner {
        min-height: 80px;
        max-height: 100px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        text-align: center;
        vertical-align: middle;
        
        display: grid;    
        place-items: center start;
        padding-left: 10%;
        &--is-day { background-image: url("../images/california_hotel_room_banner_day.jpg"); }
        &--is-night { background-image: url("../images/california_hotel_room_banner_night.jpg"); }
    }

    &__title { //h1
        color: white;
        font-size: 3rem;
    }
}